{% extends 'base.html.twig' %}


{% block body %}
    <h2>Liste des licenciés :</h2>
    <ul>
        {% for licencie in licencies %}
            <li>{{ licencie.nom }} {{ licencie.prenom }} - {{ licencie.numeroLicence }}</li>
        {% endfor %}
    </ul>
    {# Ajoute ici le contenu supplémentaire de la page d'accueil #}
{% endblock %}
