<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <title>{% block title %}LeCoach{% endblock %}</title>
    <link rel="icon" type="image/ico" href="{{ absolute_url(asset('favicon.ico')) }}" />
</head>
<body>

{% block header %}{% endblock %}

{% block section1 %}{% endblock %}

{% block section2 %}{% endblock %}

{% block section3 %}{% endblock %}

{% block footer %}{% endblock %}


{% block javascripts %}
            {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}


<script src="../path/to/flowbite/dist/flowbite.min.js"></script>
</body>

</html>
