{% extends 'base.html.twig' %}

{% block title %}LeCoach | Nos éducateurs{% endblock %}

{% block content %}

    <div class="bg-table4 bg-cover">
        <div class="flex flex-col items-center justify-center h-screen">
            <div class="bg-white w-1/2 rounded-lg shadow-lg mx-8 my-8 p-6" style="margin-top: 2cm; margin-bottom: 2cm;">
                <h2 class="text-4xl font-gasoek text-center mb-6">Nos éducateurs</h2>

                <hr class="w-48 h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700">
                <br>
                <br>


                <ul class="list-disc text-center">
                    {% for educateur in educateurs %}

                        <li><span class="font-regular text-base"> {{ educateur.licencie.prenom }} {{ educateur.licencie.nom }} • <span class="font-bold"> {{ educateur.email }}</span></span></li>
                        <br>

                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
